<%- include('header.ejs') %>
<h1>EJS Boilerplate</h1>
  <ul id="main-menu">
    <li>
      <a href="home">Home</a>
    </li>
    <li>
      <a href="section1">Section One</a>
    </li>
    <li>
      <a href="section2">Section Two</a>
    </li>
    <li>
      <a href="section3">Section Three</a>
    </li>
  </ul>
<%- include('footer.ejs') %>