<%- include('header.ejs') %>

<div class="container">
  <h2>Section 1</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ex dolor, sagittis quis ex sit amet, finibus vestibulum mauris. Curabitur posuere eros erat, ac maximus risus pretium sit amet. Sed vel elementum nunc. Etiam sem erat, malesuada nec nunc a, pulvinar blandit velit. In non congue est, non fringilla nulla. Aliquam eget lectus elit. Nunc scelerisque libero lacus, vitae gravida enim ultrices quis. Fusce purus felis, malesuada vulputate sollicitudin sit amet, consequat vel justo. Donec cursus orci risus, id bibendum mi ullamcorper ut. Praesent eleifend felis a malesuada feugiat. Morbi id mi eu arcu auctor vehicula. Integer convallis libero id sapien eleifend gravida. Vivamus id tortor sollicitudin, ultrices risus ut, aliquet elit. Quisque varius turpis a tortor dictum, at dignissim neque volutpat. Praesent id rhoncus enim. Cras tempor augue eget lectus cursus, id varius justo sollicitudin.
  </p>
  <p>
    Proin pellentesque consectetur dolor a convallis. Suspendisse at semper libero, sed tempor quam. Nam vel finibus felis, in malesuada elit. Vivamus rutrum elementum nisl, ut condimentum tellus malesuada eu. Aenean est dui, pretium a laoreet vestibulum, malesuada eget nisi. Praesent feugiat massa sit amet diam dignissim eleifend. Donec sapien felis, ultrices eget tincidunt sodales, scelerisque sit amet quam. Mauris dictum ut eros ac pulvinar. Pellentesque hendrerit, orci imperdiet venenatis iaculis, libero eros condimentum est, at lacinia velit ex vitae mauris. Curabitur non mi convallis, efficitur ipsum sit amet, lobortis neque. Nunc in lectus nunc. Cras vel risus id nisl mattis bibendum id vel ante. Quisque pharetra justo eget nisl finibus suscipit. Integer porta ex nec est consectetur venenatis id eu neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia non turpis nec vehicula.
  </p>
</div>
<%- include('footer.ejs') %>
